@import "../../less/main";

.block {
  background-color:@color-secondary;
  box-sizing: border-box;
  overflow: hidden;
  height: @vertical-rhythm;
  width: 100%;
  border-bottom: 1px solid #fff;
}


article {
  margin: @spacing-double;
}
section {
  margin: @spacing-double;
}

.demo-semantic-text-elements{
  p {
    height: 30px !important;
  }
}

h4, h5, h6 {
  text-transform: uppercase;}