// ****************************************************************
// Variables
//
// ****************************************************************

ul, ol, dl {
  margin: @spacing;

  li {
    line-height: @vertical-rhythm;
  }

  ul, ol, dl {
    margin-top: 0;
    margin-bottom: 0;
  }
}
