// ****************************************************************
// Variables
//
// ****************************************************************

html {
  font-size: @font-size / 16 * 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: @font-family;
  font-weight: @font-weight;
  color: @font-color;
  line-height: @vertical-rhythm;
}

p {
  line-height: @vertical-rhythm;
  margin: @spacing;
}

blockquote {
  line-height: @vertical-rhythm;
  margin: @spacing;
}

/* Leading paragraph text */
.lead {
  font-size: @ms-ratio * 1rem;
}

/* Hug a the block under you */
.hug {
  margin-bottom: 0;
}

/*! Typebase.less v0.1.0 | MIT License */