// ** Create headings h{n} and .h{n}
.make-headings (@n) when (@n > 0) {
  h@{n}, .h@{n} {
    font-size: (@heading-count - @n + 1) * @ms-ratio * 1rem;
    line-height: (@heading-count - @n + 1) * @vertical-rhythm;
    margin: @spacing-double;

    & when (@n > 3) {
      margin: @spacing;
    }
    & when (@n <= 3) {
      margin: @spacing-double;
    }
  }
  .make-headings(@n - 1);
}